@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  /* primary color */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Neutral colors */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --color-link: hsl(228, 45%, 44%);
}
* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  font-size: 15px;
}
.main-container {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 20px;
}
.supervisor {
  position: relative;
  max-width: 320px;
  height: 200px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 25px 30px 0px 30px;
  border-top: 5px solid cyan;
  box-shadow: rgb(99 102 131) 3px 15px 25px -18px;
  grid-row: 1/3;
}
.Team-builder {
  position: relative;
  max-width: 284px;
  height: 200px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 25px 30px 0px 30px;
  border-top: 5px solid var(--Red);
  box-shadow: rgb(99 102 131) 3px 15px 25px -18px;
}
.calculator {
  position: relative;
  max-width: 280px;
  height: 200px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 25px 30px 0px 30px;
  border-top: 5px solid var(--Blue);
  box-shadow: rgb(99 102 131) 3px 15px 25px -18px;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 3;
}
.Karma {
  position: relative;
  max-width: 320px;
  height: 200px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 25px 30px 0px 30px;
  border-top: 5px solid var(--Orange);
  box-shadow: rgb(99 102 131) 3px 15px 25px -18px;
  grid-column: 2;
}
.header {
  font-size: 18px;
  color: var(--Very-Dark-Blue);
  padding-bottom: 5px;
}
.para {
  font-size: 12px;
  color: var(--Grayish-Blue);
  padding-bottom: 38px;
}
.icon {
  float: right;
}
.head-I {
  text-align: center;
  max-width: 544px;
  color: var(--Very-Dark-Blue);
}
.heading {
  font-weight: 100;
}
.odd {
  font-weight: 600;
}
.para-1 {
  color: var(--Grayish-Blue);
}
/* mobile screen  */
@media (max-width: 800px) {
  body {
    padding: 10px;
  }
  .head-I {
    max-width: 293px;
    font-size: 12px;
  }
  main {
    max-width: 700px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .supervisor {
    grid-column: 1/3;
    grid-row: 1;
  }
  .Team-builder {
    grid-column: 1/3;
  }
  .Karma {
    grid-column: 1/3;
  }
  .calculator {
    grid-column: 1/3;
    grid-row: 5;
  }
}
/* This a footer section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-link);
}
